body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    cursor: pointer;
    margin: 10px;

}

table {
    border: solid 2px black;
    margin: auto;

}

.heading {
    column-span: all;

}

/* .clock {
    position: absolute;
    right: 45%;
} */

.cell,
.smiley {
    /* border: solid 2px black; */
    box-shadow: 1px 2px 2px 1px #bcb0b087;
    height: 20px;
    width: 20px;
    /* max-width: 20px; */
    background-color: rgb(147, 140, 140);
    background-size: cover;

}

.shown {
    background-color: rgb(186, 176, 176);
}

.marked {
    /* background-image: url("../img/flag.png"); */
    background-size: cover;

}

.safe {
    background-color: yellow;
}


.smiley {
    height: 30px;
    width: 30px;
    color: yellow;
    margin: auto;
    background-image: url("../img/start.png");
    background-size: contain;
    /* background-size: cover; */
}
/* .smiley img{
    height: 30px;
    margin: auto;
} */

.cell img {
    height: 20px;
}

.one {
    color: rgb(9, 9, 194);
}

.two {
    color: rgb(5, 146, 5);
}

.three {
    color: rgb(227, 6, 6);
}

.four {
    color: rgb(16, 0, 110);
}